<%= simple_form_for(:search, method: "get", html: { class: "form-inline" }) do |form| %>
  <%= form.input(:term, input_html: { class: "m-1", value: @search_term }, label: false, placeholder: "Search by name") %>
  <%= form.submit("Search") %>
<% end %>

<table>
  <thead>
    <th class="px-3">Name</th>
    <th class="px-3">ISBN</th>
    <th class="px-3">Actions</th>
  </thead>
  <tbody>
    <%= render(@books) %>
  </tbody>
</table>

<%= paginate(@books) %>
