<!DOCTYPE html>
<html>
  <head>
    <title>BookLand</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <%= image_tag("logo.png", :alt => "BookLand", :width => "100") %>
        <h1 class="d-inline">BookLand!</h1>
      </a>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    <footer class="navbar navbar-light bg-light mt-5">
      <h6 class="py-3 text-muted">BookLand!</h6>
      <h6 class="py-3 text-muted">&copy; 2019</h6>
    </footer>
  </body>
</html>
